test -d ~/.cargo/bin && export PATH=$PATH:~/.cargo/bin
test -d ~/.cabal/bin && export PATH=~/.cabal/bin:$PATH
test -d ~/.local/bin && export PATH=~/.local/bin:$PATH
test -d ~/bin && export PATH=~/bin:$PATH

test -f ~/.nix-profile/etc/profile.d/nix.sh && . ~/.nix-profile/etc/profile.d/nix.sh

export WINEARCH=win32
export WINETRICKS_CONTINUE_DOWNLOAD=1

export PYTHONDONTWRITEBYTECODE=1

export LANG="en_NZ.UTF-8"
export TZ="Europe/Brussels"
export GTK_THEME=Adwaita:dark

export PAGER=less
command -v firefox >/dev/null && export BROWSER=firefox

EDITOR=vi
command -v vim >/dev/null && EDITOR=vim
command -v nvim >/dev/null && EDITOR=nvim
export EDITOR

export HISTCONTROL=ignoreboth:erasedups

export PLATFORM=`uname`

#export GALLIUM_HUD="simple,fps"
#export vblank_mode=0 #disable vsync
#export DXVK_HUD=fps,gpuload
#export WINE_CPU_TOPOLOGY=12:0,1,2,3,4,5,12,13,14,15,16,17
export WINE_CPU_TOPOLOGY=8:0,1,2,3,12,13,14,15

export DFT_BYTE_LIMIT=4000000

LEFTWM_BIN=$HOME/scripts/target/release/leftwm-cecile
test -x "$LEFTWM_BIN" && export LEFTWM_BIN
