[submodule "repos/dwm"]
	path = repos/dwm
	url = https://github.com/cecton/dwm.git
[submodule "repos/st"]
	path = repos/st
	url = git://git.suckless.org/st
[submodule "repos/fish"]
	path = repos/fish
	url = https://github.com/fish-shell/fish-shell.git
	branch = master
[submodule "repos/tmux-statusbar"]
	path = repos/tmux-statusbar
	url = https://github.com/cecton/tmux-statusbar.git
