[submodule ".mutt/mutt-colors-solarized"]
	path = .mutt/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "repos/fish-cargo-completions"]
	path = repos/fish-cargo-completions
	url = git@github.com:thomcc/fish-cargo-completions.git
