#[user]
#	name = Cecile Tonglet
#	email = cecile.tonglet@cecton.com
#	signingkey = 8498359B2C2BE786
[push]
	default = simple
	autoSetupRemote = true
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
#[interactive]
#	diffFilter = delta --color-only
[advice]
	detachedHead = false
[delta]
	#side-by-side = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[pull]
	ff = only
[try-merge]
	ignore-conflict = Cargo.lock
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
#[diff]
#	external = difft
[diff "lfs"]
	textconv = cat
